{{!< layout}} 
<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <label for="comment-email"><strong>Issue key</strong></label>
          <input class="text medium-field" type="text" id="issue-key" name="issue-key">
        </div>
      </div>
      <hr>
      <div class="aui-group">
        <div class="aui-item">
          <form class="aui" id="entity-form">
            <div class="field-group">
              <label for="entity-key">Entity key</label>
              <input class="text medium-field" type="text" id="entity-key" name="entity-key">
            </div>
            <div class="field-group">
              <label for="entity-value">Entity value</label>
              <textarea class="textarea" name="entity-value" id="entity-value"></textarea>
            </div>
            <div class="buttons-container">
              <div class="buttons">
                <button class="aui-button aui-button-primary" type="button" onclick="saveEntity()">Save</button>
                <button class="aui-button aui-button-primary" type="button" onclick="saveEntity1()">Save1</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
