{{!< layout}}
<section class="aui-page-panel-content">
  <div class="aui-group">
    <h2>Github with Connect {{issueKey}}</h2>
    <p>
      <button class="aui-button aui-button-primary" type="button" onclick="getGitHubInfo({{json issueKey}})">
        Get GitHub Info
      </button>
      <button class="aui-button aui-button-primary" type="button" onclick="openDialog({{json issueKey}})">
        Open Dialog
      </button>
      <button class="aui-button aui-button-primary" type="button" onclick="putEntity()">
        PUT entity property
      </button>
      <button class="aui-button aui-button-primary" type="button" onclick="getEntity()">
        GET entity property
      </button>
    </p>
  </div>
  <div style="margin-top: 10px" id="githubInfo">
  </div>
</section>
