{{!< layout}}
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
          <div class="aui-group">
            <h2>Github with Connect</h2>
            <p>
              <button class="aui-button aui-button-primary" type="button" onclick="getGitHubInfo({{issueKey}})">
                Get GitHub Info
              </button>
            </p>
          </div>
          <div style="margin-top: 10px" id="githubInfo">
          </div>
          <div class="aui-group">
                    <!-- Create a trigger which will be used by the JavaScript -->
        <button id="dialog-show-button" class="aui-button">Show dialog</button>

        <section
            id="demo-dialog"
            class="aui-dialog2 aui-dialog2-small aui-layer"
            role="dialog"
            tabindex="-1"
            aria-labelledby="dialog-show-button--heading"
            hidden
        >
            <header class="aui-dialog2-header">
                <h1 class="aui-dialog2-header-main" id="dialog-show-button--heading">Captain...</h1>
                <button class="aui-close-button" type="button" aria-label="close"></button>
            </header>
            <div class="aui-dialog2-content">
                <p>We've detected debris of some sort in a loose orbit.</p>
                <p>I suggest we beam a section aboard for analysis...</p>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Make it so</button>
                </div>
            </footer>
        </section>
          </div>
        </section>
    </div>
</div>
